shamefully-hoist=true
REGISTRY=https://registry.npm.taobao.org/
ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npm.taobao.org/mirrors/electron-builder-binaries/
CHROMEDRIVER_CDNURL=https://cdn.npm.taobao.org/dist/chromedriver
PHANTOMJS_CDNURL=https://npm.taobao.org/dist/phantomjs
CYPRESS=https://npm.taobao.org/mirrors/cypress/
PROFILER_BINARY_HOST_MIRROR=https://npm.taobao.org/mirrors/node-inspector/
